<script lang="ts" setup>
    import IconSwitch from "~icons/heroicons-outline/switch-horizontal"

    import { ref, computed, watch, onMounted } from "vue"
    import { getBrowserCurrency, getCurrencyRate } from "@/utils"
    import currencies from "@/data/currencies.json"

    const currencyRate = ref(0)

    const currencyFrom = ref(getBrowserCurrency())
    const currencyTo = ref<keyof typeof currencies>(currencyFrom.value === "USD" ? "EUR" : "USD")

    const amountFrom = ref(0)
    const computedAmountFrom = computed(() => {
        if (isNaN(amountFrom.value) || !amountFrom.value) {
            return 0
        } else {
            return amountFrom.value < 0 ? 0 : amountFrom.value
        }
    })
    const amountTo = computed(() => computedAmountFrom.value * currencyRate.value)

    const updating = ref(false)

    async function updateCurrencyRate() {
        updating.value = true
        currencyRate.value = await getCurrencyRate(currencyFrom.value, currencyTo.value)
        updating.value = false
    }

    watch([currencyFrom, currencyTo], () => {
        updateCurrencyRate()
    })

    onMounted(() => {
        updateCurrencyRate()
    })
</script>

<template>
    <div class="h-screen flex justify-center items-center">
        <div class="flex flex-col gap-4 w-150 p-4 bg-blue-100 border border-blue-500 rounded">
            <div class="text-blue-800 text-center text-xl font-bold">
                <h1>Конвертер валют</h1>
            </div>
            <div>
                <input
                    class="w-full p-1 border border-blue-500 rounded text-center"
                    v-model.number="amountFrom"
                />
            </div>
            <div class="flex gap-2">
                <select class="flex-1 p-1 border border-blue-500 rounded" v-model="currencyFrom">
                    <option v-for="(currency, code) in currencies" :value="code">
                        {{ currency }} ({{ code }})
                    </option>
                </select>
                <button
                    class="flex items-center px-2 py-1 bg-blue-500 text-white rounded"
                    @click=";[currencyFrom, currencyTo] = [currencyTo, currencyFrom]"
                >
                    <IconSwitch />
                </button>
                <select class="flex-1 p-1 border border-blue-500 rounded" v-model="currencyTo">
                    <option v-for="(currency, code) in currencies" :value="code">
                        {{ currency }} ({{ code }})
                    </option>
                </select>
            </div>
            <div class="text-blue-800 text-center text-xl">
                <h1 v-if="updating">Загрузка...</h1>
                <h1 v-else>
                    {{ computedAmountFrom }} {{ currencyFrom }} = {{ amountTo.toFixed(2) }}
                    {{ currencyTo }}
                </h1>
            </div>
        </div>
    </div>
</template>
